extends layout

block content
  div(style="background-color:#E6FFFF; Padding:1%; border-radius:15px;")
    h1= "JSON Notes"
    p Welcome to JSON Notes

    button(id="printButton", style="Border:none; Padding:2%; border-radius:15px;") Print Notes

    p(id="result")

  script(src="/javascripts/json.js")
  //script(src="/javascripts/api.js")
